/*SLideshow on the top games*/
.Slideshow{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.text {
    color: black;
    font-size: 18px;
    padding-top: 10px ;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}
.numbertext {
    color: #f2f2f2;
    font-family: monospace;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    height: 6px;
    width: 6px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    transition: background-color 0.6s ease;
  }
.active {
    background-color: black;
}
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
/*Top 20 Games Styling */
.list{
    background-color: black;
    padding-top: 2px;
    padding-bottom: 5px;
}
.list h2{
    font-family: Helvetica;
    font-size: 50px;
    text-align: center;
    color:white;
}
.list ol li{
    font-family: Helvetica;
    font-size: 18px;
    color: white;
    padding-left: 50px;
}