/*Body Styling*/
/*Introduction Styling*/
.Intro h2{
    font-family: Helvetica;
    font-size: 60px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    color: black;
}
.Intro img{
    width:100%;
    margin:0%;
}
.Intro p{
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 68%;
    left: 17%;
    color: white;
}
/*Introduction Styling Ends*/

/*Section 1 Styling*/
.section1 p{
    font-family: Helvetica;
    font-size: 18px;
    color: black;
    text-align: center;
    margin:0%;
    padding: 5px;
}
/*Section 1 Styling Ends*/

/*Section 2 Styling*/
.section2 p{
    font-family: Helvetica;
    font-size: 16px;
    color: black;
    text-align: center;
    margin:0%;
    padding: 5px;
    background: white;
}
/*Section 2 Styling Ends*/

/*Section 3 Styling*/
.section3{
    border:3px solid white;
}
.section3 dl,dt,dd{
    font-family: Helvetica;
    font-size: 16px;
    color: chocolate;
    text-align: left;
    margin:0%;
    padding: 5px;
    background: rgb(10, 10, 10);
}
.section3 p{
    font-family: Helvetica;
    font-size: 16px;
    color: black;
    text-align: center;
    margin:0%;
    padding: 5px;
    background: white;
}
/*Section 3 Styling Ends*/

/*Quick Searches Styling*/
.QuickLinks h2{
    text-align: center;
    font-size: 50px;
    font-family: Helvetica;
    color: Black;
}
.column1 {
    float: left;
    padding: 5px;
    flex: 30%;
}
.column1 h3{
    text-align: center;
    border-style: solid;
    background-color: black;
    border-width: 3px;
    border-color: white;
    padding: 5px;
    font-family: Helvetica;
    font-size: 20px;
    margin: 0%;
}
.column1 h3 a{
    text-decoration: none;
    color:chocolate;
}
.column1 h3:hover{
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: chocolate ;
    opacity: 0.75;
}
.column1 h3 a:hover{
    color: white;
}
.column1 img:hover{
    opacity: 0.5;
}
  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row1 {
    display: flex;
}
/*Quick Searches Styling Ends*/

/*Section 4 Styling*/
.section4{
    font-family: Helvetica;
    font-size: 16px;
    color: chocolate;
    text-align: justify;
    background-color: rgb(10, 10, 10);
    padding:20px;
    margin-right: 40%;
    border:3px solid white;
    border-radius: 10px;
}
.section4_1{
    font-family: Helvetica;
    font-size: 16px;
    color: chocolate;
    text-align: justify;
    background-color: rgb(10, 10, 10);
    padding:20px;
    margin-left: 40%;
    border:3px solid white;
    border-radius: 10px;
}
/*Section 4 Styling Ends*/

/*Section 5 Styling*/
/* Slideshow container */
.section5 h2{
    text-align: center;
    font-size: 50px;
    font-family: Helvetica;
    color: black;
}
.slideshow-container {
    position: relative;
    background: rgb(10, 10, 10);
    border-top: solid;
    border-left: solid;
    border-Right: solid;
    border-color: white;
    margin-left: 15%;
    margin-right: 15%;
}
/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    color: white;
    font-family: Helvetica;
    font-size: 18px;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  /* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: rgb(52, 52, 52);
    border-bottom: solid;
    border-left: solid;
    border-Right: solid;
    border-color: white;
    margin-left: 15%;
    margin-right: 15%;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:White;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: orangered;
}
/* Add an italic font style to all quotes */q {
    font-style: italic;
}
/* Add a blue color to the author */
.author {
    color: orangered;
}
/*Section 5 Styling Ends*/