
/*Unreleased Games Styling*/
.unreleasedGames{
    font-family: Helvetica;
    color: black;
}
.unreleasedGames h2{
    font-size: 50px; 
    text-align: center;
}
.unreleasedGames h3{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}
.unreleasedGames table{
    color:orangered;
    background-color: #040406;
    width: 70%;
}
.unreleasedGames th{
    border: 3px solid;
    border-color: orange;
    background-color: #040406;
    color:white;
    font-family: helvetica;
    font-size:18px;
}
.unreleasedGames td{
    border: 3px solid;
    border-color: orange;
    color: white;
    height:50px;
    font-size: 16px;
}
/*Unreleased Games Ends*/
